.FormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 500px;
    background-color: rgba(var(--color-yellow-dark-2), .8);
    box-shadow: 8px 8px 5px 0px rgba(var(--color-black),0.75);
    margin: 70px 0;
}

@media (min-width: 2200px) {
    .Form {
        width: 1600px;
        height: 800px;
        margin: 150px 0;
    }
}

@media (max-width: 1024px) {
    .Form {
        width: 480px;
    }
}

@media (max-width: 767px) {
    .FormBox {
        padding-bottom: 150px;
    }
}

@media (max-width: 620px) {
    .Form {
        width: 380px;
    }
}

@media (max-width: 425px) {
    .Form {
        width: 270px;
    }
}
    