.Navigation {
    position: fixed;
    z-index: 98;
    width: 687px;
    height: 106px;
    top: 0;
    right: 0;
    margin-top: 30px;
}

.Hide {
    display: none;
}

@media (min-width: 2200px) {
    .Navigation {
        width: 1200px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .Navigation {
        width: 450px;
    }
}

@media (max-width: 540px) {
    .Navigation {
        width: 400px;
    }
}

@media (max-width: 375px) {
    .Navigation {
        width: 320px;
    }
}

