.BoardEasy {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 156px);
    margin: 30px 0;
    gap: 15px;
}

.BoardHard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 140px);
    margin: 30px 0;
    gap: 15px;
}

@media (min-width: 2200px) {
    .BoardEasy {
        grid-template-rows: repeat(3, 300px);
    }

    .BoardHard {
        grid-template-rows: repeat(4, 270px);
    }
}

@media (max-width: 540px) {
    .BoardEasy {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 125px);
        gap: 10px;
    }

    .BoardHard {
        height: max-content;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 125px);
    }

}