.Button {
    height: 62.5px;
    width: 262.5px;
    background-color: var(--color-yellow-dark);
    border-radius: 37.5px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.25px;
    opacity: .95;
}

.Button:hover, .Button.Active {
    cursor: pointer;
    background-color: rgb(var(--color-yellow-dark-2));
    outline: none;
}

@media (min-width: 2200px) {
    .Button {
        height: 110px !important;
        width: 700px !important;
        border-radius: 70.5px;
        font-size: 35px;
    }
}

@media (max-width: 426px) {
    .Button {
        width: 320px !important;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .Button {
        width: 258px !important;
        font-size: 12.5px;
    }
}